.entity, .property{
    border: solid 2px black;
    margin: 1%;
}

.entity-header, .property-header{
    position: sticky;
    text-align: center;
    z-index: 1;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
}

.entity-header{
    background-color: #2196F3;
}

.property-header{
    background-color: #00ad90;
}

.entity .dropbtn, .property .dropbtn{
    float: right;
    cursor: copy;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.entity-header:hover, .property-header:hover{
    background-color: rgb(151, 252, 151);
    color: black;
    cursor: pointer;
}

.entities, .properties, .tables, .scripts {
    float: left;
    border: 1px solid black;
    position: sticky;
}

.selected {
    background-color: rgb(70, 247, 70);
    color: black;
}

.entities-header, .properties-header{
    text-align: center;
    position: sticky;
    padding: 1%;
    font-size: 24px;
    background-color: #0d2e9b;
    color: #fdfdfd;
    height: 3%;
}

.entities-container, .properties-container {
    height: 96%;
    overflow-y: scroll;
    background-color: white;
}

.description-container {
    display: none;
    background-color: rgb(199, 199, 199);
    font-size: 12px;
    padding: 1%;
    border-top: solid 1px black;
    white-space:pre-wrap;
}

.div-text{
    display: inline;
}