.entity {
    border: solid 2px black;
    margin: 1%;
}

.entity-header {
    position: sticky;
    text-align: center;
    z-index: 1;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
}

.entity-header {
    background-color: #2196F3;
}

.entity-header:hover {
    background-color: rgb(151, 252, 151);
    color: black;
    cursor: pointer;
}

.entities {
    float: left;
    border: 1px solid black;
    position: sticky;
}

.selected {
    background-color: rgb(70, 247, 70);
    color: black;
}

.entities-header {
    text-align: center;
    position: sticky;
    padding: 1%;
    font-size: 24px;
    background-color: #0d2e9b;
    color: #fdfdfd;
    height: 3%;
}

.entities-container {
    height: 96%;
    overflow-y: scroll;
    background-color: white;
}

.description-container {
    background-color: rgb(199, 199, 199);
    font-size: 12px;
    padding: 1%;
    border-top: solid 1px black;
    white-space:pre-wrap;
}