body {
    margin: 0;
}

.navbar {
    height: 3%;
}

.main {
    z-index: 0;
    top: 0;
    margin: 1px;
    height: 97%;

    display: grid;
    grid-template-columns: 15% 15% 69%;
    grid-template-rows: 89% 10%;
    grid-column-gap: 0.5%;
    grid-row-gap: 0.5%;
    
    margin: 0;
    background-color: #555;
}
  
.entities {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    background-color: white;
} 
  
.properties {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    background-color: white;
}
  
.tables {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    background-color: white;
}
  
.scripts {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

    background-color: white;
}