.navbar {
    height: 4%;
}

.main {
    z-index: 0;
    top: 0;
    margin: 1px;
    height: 95%;

    display: grid;
    grid-template-columns: 10% 10% 79%;
    grid-template-rows: 49% 50%;
    grid-column-gap: 0.5%;
    grid-row-gap: 0.5%;
}
  
.entities {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
} 
  
.properties {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
  
.tables {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
  
.scripts {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}