.table-tabs {
    height: 3%;
    width: 100%;
    border: 1px black solid;
    display: flex;
    background-color: #f1f1f1;
    overflow: auto;
}

.table-tab {
    text-align: center;
    height: 100%;
    border-right: 1px black solid;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 1% 0 1%;
    position: relative;
    white-space: nowrap;
}

.table-add-tab {
    text-align: center;
    height: 100%;
    border-radius: 0% 50% 0%   0%;
    border-right: 1px black solid;
    padding: 0 1% 0 1%;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #222;
    background-color: #aaa;
}

.table-tab:hover, .table-add-tab:hover{
    background-color: #ddd;
}

.table-tab-selected {
    background-color: #ccc;
}

.table-container{
    height: 97%;
    overflow: auto;
}

.result-table{
    border-collapse: collapse;
}

.result-table th {
    border: 1px solid black;
    width: auto;
}

.column-header-with-condition {
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

.column-header {
    display: inline-flex;
    align-items: center;
}

.column-header-text {
    margin: 0;
    white-space: nowrap;
}

.column-header-conditions-container {
    display: block;
}

.column-header-condition {
    padding: 0;
    margin: 0;
    border: 1px solid black;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    resize: none;
    text-align: center;
}

.column-header-select-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.column-header-select {
    width: auto;
    text-align-last: center;
}

.column-header-select-label {
    width: 100%;
    white-space: nowrap;
}

.column-header-select-option {
}

.column-header-with-condition {
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

.row-header{
    text-align: center;
    background-color: #7bc93c;
    color: white;
}

.table-header{
    background-color: rgb(71, 71, 71);
    color: white;
}

.error-content{
    background-color: red;
}

.error-content:hover .error-content-text{
    visibility: hidden;
}

.error-content:hover .error-content-text{
    visibility: visible;
}

.no-data{
    min-height: 100%;
    background-color: rgba(0,0,0,0.05);
}

.no-data::after {
    content: "\00a0";
}

.cell_data {
    border: 1px solid black;
    width: auto;
    text-align: center;
}

.x-button {
    position: absolute;
    color: black;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 6pt;
    font-weight: bold;
}

.x-button:hover {
    cursor: default;
}